apiVersion: v1
kind: Config
clusters:
  - name: ${cluster_name}
    cluster:
      certificate-authority-data: ${cluster_ca_data}
      server: ${server_url}
contexts:
  - name: ${user_name}@${cluster_name}
    context:
      cluster: ${cluster_name}
      user: ${user_name}
current-context: ${user_name}@${cluster_name}
users:
  - name: ${user_name}
    user:
      client-certificate-data: ${client_cert_data}
      client-key-data: ${client_key_data}
